<!-- <div class="main">
    <h1 style="font-size: xx-large;"></h1>
    <ul class="cards">
      <li class="cards_item">
        <div class="card">
          <div class="card_image"></div>
          <div class="card_content">
            
                        <button class="btn card_btn">Read More</button>
          </div>
        </div>
        <p>
            
        </p>
      </li>

      <li class="cards_item">
        <div class="card">
          <div class="card_image"><img src="../assets/faculty_am.jpeg"></div>
          <div class="card_content">
            <h2 class="card_title">Amit Singh</h2>
            <p class="card_text">
                
                
                         </div>
        </div>
        <p>
            
        </p>
      </li>
    </ul>
  </div>
    -->
    <div class="inner-page-banner-area" style="background-image: url('../assets/team.jpg');"> 
      <div class="container">
          <div class="pagination-area">
              <h1 style="text-transform:capitalize; font-weight:700; margin-bottom:5px; font-size:48px; color:#ffffff;">
                Our Skilled Team
              </h1>
              
          </div>
      </div>  
     
    </div>
      <div class="skew-c"></div>
      
       
       <!-- <div class="card-wrapper" >
        
        <div class="subject_wrapper mrtp40">
        <div class="subject">
        <div class="step">
          <img alt="Ajay Veer Singh"   src="../assets/faculty_aj.jpeg"></div>
        
        <div class="team"></div>
        
        <h2>Ajay Veer Singh </h2>
        <b><h3>Founder &amp; Director</h3></b>
        </div>
        <div class="text">

        </div>
        <div class="linked-in"><a href="https://www.linkedin.com/in/aakash-chaudhry-7b2b573/"><img src="https://dcx0p3on5z8dw.cloudfront.net/Aakash/s3fs-public/inline-images/linked-in.png"></a></div>
        </div>
        </div> -->
     
    
<!-- <div class='faculty-wrap'>
 <div class="content" fxLayoutGap="16px grid" fxLayout="row wrap">
  <div fxFlex.xs="100%" fxFlex.sm="33%" fxFlex="30%">  
  <mat-card class="mat-elevation-z4">
    <mat-card-header>
      <mat-card-title>Mr. Ajay Veer Singh</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="../assets/faculty_aj.jpeg" />
    <mat-card-content>
      
       <h3> IIT-(ISM) Dhanbad Alumni(2006-2011 batch)</h3>
       <p> He is guardian, mentor and sometime even HERO for his students. He teaches all three subjects in his coaching Focus, and gives the maximum number of students in the IITs from Dhanbad each year. 
        Among his achievements ,a few to mention are , awarded Guru Shiksha Samman by Dainik Bhaskar a leading Newspaper daily in Bihar-Jharakhand for outstanding contribution in the field of education in the State in 2016 & Felicitated by ib Hubs as” Super 30” Teacher of India -2019.</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button> <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
</div>

  <div fxFlex.xs="100%" fxFlex.sm="33%" fxFlex="35%">
    <mat-card class="mat-elevation-z4">
      <mat-card-header>
        <mat-card-title>Mr Amit Veer Singh</mat-card-title>
      </mat-card-header>
      <img mat-card-image style="width:55%" src="../assets/faculty_am.jpeg" />
      <mat-card-content>
        <h3>MBA from CSJM University, Kanpur(2013-2015)</h3>
        <p> Since FOCUS inception, he has been consistently handling the management section. His incredible work has always played an integral part in the success of the institution.He believes years of learning and gaining knowledge must be invested wisely,so gives proper guidance to each student at individual level and boost their moral by giving relavent instructions, consistent guidance, monitoring, aboundant facilities.</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button> <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
</div>
 -->
 <div class="colour-block">
  <div class="row about-page1-inner">    
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="about-page-content-holder">
            <div class="content-box">
                <h2>Who We Are</h2>
                <p style="text-align:justify">Focus Classes is a team of IITians and Professionals, a group having vigor and vibrance of some young radiant minds and expertise of some very experienced professionals, all working for the common objective of producing the best education to each student in the most scientific and personalized way. At Origence we believe that each child has enough potential to make a mark of his own. The only thing needed is to identify  the hidden potential, unravel it and nurture his/her talent with utmost care.<br><br>

                  In 2007, we started with just 13 students where students were learning PCM under one faculty guidance. This strong association became the foundation stone of FOCUS.The consistent and ideal team efforts laid path for the glorious success of the institution. Since then, FOCUS is known to create remarkable results.FOCUS is a symbol of trust, unparalleled hard work of the students under the directions of Ajay Veer Singh  & Amit Singh.  
                       </div>
          
        </div>
    </div>                   
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 image-padding">
        <div class="about-page-img-holder">
            <img src="../assets/carousel_1.jpg" class="img img-responsive" alt="about" >
        </div>
    </div>
</div>

<hr>

 <app-faculty-card></app-faculty-card>