 
    <div class="inner-page-banner-area" style="background-image: url('../assets/team.jpg');"> 
      <div class="container">
          <div class="pagination-area">
              <h1 class="head" >
                Our Skilled Team
              </h1>
              
          </div>
      </div>  
     
    </div>
      <div class="skew-c"></div>
      
 <div class="colour-block">
  <div class="row about-page1-inner">    
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="about-page-content-holder">
            <div class="content-box">
                <h2>Who We Are</h2>
                <p style="text-align:justify">Focus Classes is a team of IITians and Professionals, a group having vigor and vibrance of some young radiant minds and expertise of some very experienced professionals, all working for the common objective of producing the best education to each student in the most scientific and personalized way. At FOCUS we believe that each child has enough potential to make a mark of his own. The only thing needed is to identify  the hidden potential, unravel it and nurture his/her talent with utmost care.<br><br>

                  In 2007, we started with just 13 students where students were learning PCM under one faculty guidance. This strong association became the foundation stone of FOCUS.The consistent and ideal team efforts laid path for the glorious success of the institution. Since then, FOCUS is known to create remarkable results.FOCUS is a symbol of trust, unparalleled hard work of the students under the directions of Ajay Veer Singh  & Amit Singh.  
                       </div>
          
        </div>
    </div>                   
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 image-padding">
        <div class="about-page-img-holder">
            <img src="../assets/carousel_1.JPG" class="img img-responsive" alt="about" >
        </div>
    </div>
</div>

<hr>

 <app-faculty-card></app-faculty-card>
 </div>