<div class="skew-cc"></div>
<div class="inner-page-banner-area"  >
    <div class="container">
        <div class="pagination-area">
            <h1 style="opacity: 1;;text-transform:capitalize; font-weight:700; margin-bottom:5px; font-size:48px; color:#ffffff;">
             
            </h1>
            
        </div>
    </div>  
    </div>
    <div class="colour-block">
  <div class="row about-page1-inner"> 
    <h1 style="font-weight: bolder; margin-top: 1vw;opacity:1">Admission Process</h1>   
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="about-page-content-holder">
            
            <div class="content-box">
                <h2 class="mobile">For Students of class 10th and 11th</h2>
                <p style="text-align:justify">
                    A candidate seeking admission in any of the Classroom Program will have to write and qualify the Scholarship-cum-Admission Test called FTSE (Focus Talent Search Exam).<br><br> The scholarship and enrolment of student will be decided on the basis of performance in FTSE.<br><br>
  
                            </p>  
               <h2 class="mobile">For Passout Students</h2>
               <p style="text-align:justify">
                   
                For students in the Drop year , their admission purely depends on the JEE Main/ Advance scores.
       
              </p>    
                 </div>
          
        </div>
    </div>                   
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 image-padding">
        <div class="about-page-img-holder">
            <img src="../assets/study.jpg" class="img img-responsive" alt="about" >
        </div>
    </div>
</div> 
</div>

<div class="skew-c">
    
</div>
 
<app-faculty></app-faculty>