

<div [@inOutAnimation] *ngIf="next==true" id="arrow_2" class="arrow-wrapper">
  

    <div class="block">
      <div class="im-display">
      <img class="img" src="../assets/faculty_aj.jpeg" /></div>
      <div class="details">
        <h1>Mr. Ajay Veer Singh</h1>
        <p>
        <b> <h3> IIT - (ISM) Dhanbad (2006-11)</h3></b><br>
  
  He is guardian, mentor and sometime even HERO for his students. 
  He teaches all three subjects in his coaching Focus, and gives the maximum number of students in the IITs from Dhanbad each year. <br><br>
  Among his achievements ,a few to mention are , awarded Guru Shiksha Samman by Dainik Bhaskar  for outstanding contribution in the field of education in the State in 2016  Felicitated by ib Hubs as” Super 30” Teacher of India -2019.
  
  
        </p>
      </div>
      
    </div>
     
    <div  class="arrow arrow--right">
   
      <span (click)="toggle()" style="font-family: Righteous;">Next</span>  
      
    </div>
    
  </div>
  
  <div [@inOutAnimation] *ngIf="next==false" id="arrow_2" class="arrow-wrapper">
    
  
    <div class="block">
      <div class="im-display">
      <img class="img" src="../assets/faculty_am.jpg" /></div>
      <div class="details">
        <h1>Mr. Amit Singh</h1>
        <p>
        <b> <h3> CSJM University,Kanpur(MBA , 2013-2015)</h3></b><br>
  
        Since FOCUS's inception, he has been consistently handling the management section. His incredible work has always played an integral part in the success of the institution.<br><br>
        He believes years of learning and gaining knowledge must be invested wisely,so gives proper guidance to each student at individual level and boost their moral by giving relavent instructions, consistent guidance, monitoring, abundant facilities.
  
        </p>
      </div>
      
    </div>
     
    <div  class="arrow arrow--right">
   
      <span (click)="toggle()" style="font-family: Righteous;">Next</span>  
      
    </div>
    
  </div>
 