 <div class="mainland testPage">
   <div class="main-swimlane darkpink">
     <h2>Courses</h2>

    </div>
  </div>
<div class="grid-container">
  <div *ngIf='enrolledCourses.length > 0'>
    <div class="chip">
     <b> Enrolled Courses</b>
    </div>
  <div  *ngFor='let course of enrolledCourses' >
  <mat-card class="mat-elevation-z4" color="primary">
    <mat-card-header>
      <mat-card-title><h1><b>{{course.courseName}}</b></h1></mat-card-title>
      <mat-card-subtitle>{{course.numTests}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <!-- <div > 
        <p class="chip">Number of Tests: </p>
     </div> -->
     <div class="chapterThumbDetails inverse marginVertical10">  <span ng-if="exam.total_tests>0" class="ng-binding ng-scope">{{course.testList.length}} Tests</span> </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="navigateTestDashboard(course)" >Next</button>
    </mat-card-actions>
  </mat-card>
</div>
</div>
<div >
  <br><br>
<div *ngFor='let course of allCourses'>
  <div class="chip">
    <b> Availaible Courses</b>
   </div>
  <mat-card class="mat-elevation-z4">
    <mat-card-header>
      <mat-card-title><h1><b>{{course.courseName}}</b></h1></mat-card-title><br>
      
      </mat-card-header>
    <mat-card-content>
      <div class="chapterThumbDetails inverse marginVertical10"> 
         <span ng-if="exam.total_tests>0" class="ng-binding ng-scope">{{course.testList.length}} Tests</span>
         </div>

    </mat-card-content>
    <mat-card-actions>
      
      <button mat-raised-button color="primary"  (click)="enrollUser(course)" >Enroll</button>

    </mat-card-actions>
  </mat-card>
</div>
</div>
</div>

