
<div class="inner-page-banner-area" style="background-image: url('../assets/admission.jpg');padding: 2vw;"> 
    <div class="container">
        <div class="pagination-area">
          <h1 style="font-size: xx-large;color: white;">Dashboard</h1>  
            
        </div>
    </div>  
   
  </div>

<div class="skew-c"></div>
<div class="colour-block">
    <div class="content" fxLayout="row wrap" fxLayoutGap="16px grid">
        <div fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="95%" *ngFor="let test of dashBoardData ; let i = index">
          <mat-card  class="mat-elevation-z4" >
            <mat-card-header>
              <mat-card-title>{{test.testName}}</mat-card-title>
            </mat-card-header>
             
            <mat-card-content>

                <br>
                <div style="max-width: 650px; overflow-x: auto; white-space: nowrap;" class="w3-container">
                    
                    <table class="w3-table w3-hoverable">
                      <tr style="background:green ; color:white">
                        <th>Test Name</th>
                        <th>Test Duration</th>
                        <th>Total Marks</th>
                        <th>Valid before</th>
                      </tr>
                      <tr>
                        <td>{{test.testName}}</td>
                        <td>{{test.testDuration}} minutes</td>
                        <td>{{test.totalMarks}}</td>
                        <td>{{test.validBefore | date: 'dd/MM/yyyy'}}</td>
                      </tr>
                    </table>
                  </div>
                  <br>
                  <div style="max-width: 650px; overflow-x: auto; white-space: nowrap;" class="w3-container">
                    
                    <table class="w3-table w3-hoverable">
                      <tr style="background:green ; color:white">
                         <th>Answer Type</th>
                        <th *ngFor="let field of test.schemeList">{{field}}</th>
                         <th>Unattempted Question</th>
                      </tr>
                      <tr>
                        <td class="mark">Correct Answer</td>
                       <td *ngFor="let field of test.schemeList">{{test.markingScheme[field].fullMarks}}</td>
                      <td>0</td>
                      </tr>
                      <tr>
                        <td class="mark">Wrong Answer</td>
                        <td *ngFor="let field of test.schemeList">{{test.markingScheme[field].negativeMarks}}</td>
                        <td>0</td>
                      </tr>
                    </table>
                  </div>
            </mat-card-content>
            <mat-card-actions>
              <button   class='button' (click)='routeTest("intro",test.testName)' *ngIf="(savedQuizzes[i]!== true) && (test.isComplete!==true) && (test.validBefore > currentDate)" mat-button>Start</button>
              <button  class='button' (click)='routeTest("intro",test.testName)' *ngIf="savedQuizzes[i] == true  && (test.isComplete!==true)  && (test.validBefore > currentDate)" mat-button>Resume</button>
              <button  class='button'(click)='routeTest("score",test.testName)' *ngIf="test.isComplete== true" mat-button>View Score</button>

            </mat-card-actions>
          </mat-card>
        </div>
      </div>
</div>
