.content {
    padding: 16px;
}

.mat-card {
    width: 210px;
}

.center{
    text-align: center;
}

.title{
    font-size: 16px;
}
.center-table{
    width: 50vw;
    margin: 0 auto;
}
th{
    text-align: left;
    background: #99d244;
    color: white;
   
}
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    padding: 1vw;
    
}
.mat-list-base .mat-list-option {
    color: rgba(255, 253, 253, 0.87);
}

.btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 20px;;
    cursor: pointer;
    font-size: 20px;
  }
  
  /* Darker background on mouse-over */
  .btn:hover {
    background-color: RoyalBlue;
  }