 
<app-carousel [autoPlayDuration]="10000" animation="slide" [isNavigationVisible]="true" [isThumbnailsVisible]="false" [slides]="slides"
[slideTemplateRef]="slide" ></app-carousel>
<ng-template #slide let-slide>
	<div [ngStyle]="{
      'background-size': 'cover',
      'background-image': 'url(' + slide.url + ')',
      'background-repeat': 'no-repeat',
      'max-width': '100%',
      'height': '100%'
    }">
	</div>
</ng-template>

 

<div class="skew-c"></div>
<div class="colour-block">
  <h1>Welcome To Focus Classes</h1>
  <p>Focus Classes is a team of IITians a group having vigour and vibrance of some young radiant minds and expertise of some very experienced professionals in the field of coaching for competitive exams. And it is because of our precise methodology and unyielding efforts that we have been delivering the best results of the region,every year, in competitive exams like IIT JEE Main, IIT JEE Advanced, Olympiads, KVPY, NTSE, etc.     
  </p>
</div>
<div class="skew-c"></div>
 <br><br> 
 
  <div class="video-area overlay-video bg-common-style" style="background-image: url('../assets/why_us.jpg');">
    <div  class="container">
      
        <div class="video-content">
          <h2 class='video-title'>Why Choose Us</h2>
             <p class="video-sub-title"></p>
           <a class='play-btn'>  <i (click)="playYoutubeVideo()" class="fa fa-play"  aria-hidden="true"></i> </a>
        </div>  
    </div>  
</div>
   
  
 

  