 
 <div style="height: 100vh;">
  <mat-toolbar *ngIf="(toolbarService.visible|async)" style="background: #70b806e3">
    <mat-toolbar-row>
      <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
      </button>
      <span><img id="logo"  src="../assets/focusLogo.PNG"></span>
      <span class="menu-spacer"></span>
      <div fxShow="true" fxHide.lt-md>
        <a [routerLink]="'/'" mat-button>Home</a> 
       
        <a class="option-b" href="#" [matMenuTriggerFor]="menu1" 
        (mouseenter)="openMyMenu('about')" mat-button>About Us</a>

        <mat-menu class="customize" #menu1="matMenu" overlapTrigger="false">
          <span (mouseleave)="closeMyMenu('about')">
              <a class="option" [routerLink]="'/faculty'" mat-menu-item>Faculty</a>
              <a class="option" [routerLink]="'/achievements'" mat-menu-item>Achievements</a>
              <a class="option" [routerLink]="'/gallery'" mat-menu-item>Gallery</a>
              <a  class="option" [routerLink]="'/stories'" mat-menu-item>Success Stories</a>
            </span>
     </mat-menu>
  
     <a mat-button *ngIf="user == null || user == undefined" [routerLink]="'/login'">Student Signup</a>
        <a #trigger="matMenuTrigger" (mouseenter)="openMyMenu('trigger')" href="#" [matMenuTriggerFor]="menu2" mat-button>Admission</a>
        
        <mat-menu class="customize" #menu2="matMenu" overlapTrigger="false">
          <span (mouseleave)="closeMyMenu('trigger')">
              <a class="option" [routerLink]="'/admissions'" mat-menu-item>Admission Process</a>
              <a class="option" *ngIf="user == null || user == undefined" [routerLink]="'/login'" mat-menu-item>Signup For FTSE</a>
            </span>
     </mat-menu>
    

        <a [routerLink]="'/sampleTest'" *ngIf="user !== null && user !== undefined" mat-button>Sample Test</a>
       
        <a [routerLink]="'/contact'" mat-button>Contact Us</a>

        <a #profile="matMenuTrigger" style="background:#ff6c24" *ngIf="user !== null && user !== undefined" (mouseenter)="openMyMenu('user')" href="#" [matMenuTriggerFor]="menu3" mat-button><i class="fa fa-user" aria-hidden="true"></i>
          Welcome {{user.userName}}</a>
        

        <mat-menu class="customize" #menu3="matMenu" overlapTrigger="false">
         <span (mouseleave)="closeMyMenu('user')">
          <a class="option" [routerLink]="'/ftseQuiz'" mat-menu-item>Test Dashboard</a>
          <a class="option" [routerLink]="'/score'" mat-menu-item>Results</a>
          <a class="option" (click)="logout()" mat-menu-item>Logout</a>  
            
           </span>
    </mat-menu>

      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav>
      <mat-nav-list>
        <a href="javascript.void(0)" *ngIf="user !== null && user !== undefined" mat-list-item>Welcome ! {{user.userName}}</a>
        <a class="option" [routerLink]="'/'" mat-list-item>Home</a>
        <a class="option" [routerLink]="'/contact'" mat-list-item>Contact Us</a>
        <a class="option" [routerLink]="'/admissions'" mat-list-item>Admission Process</a>
          <a class="option" [routerLink]="'/faculty'" mat-list-item>Our Faculty</a>
          <a class="option" [routerLink]="'/sampleTest'" *ngIf="user !== null && user !== undefined" mat-list-item>Sample Test</a>
       <a class="option" *ngIf="user == null || user == undefined" [routerLink]="'/login'" mat-list-item>Student Login</a>
        <a class="option" [routerLink]="'/ftseQuiz'" *ngIf="user !== null && user !== undefined" mat-list-item>Test Dashboard</a>
        <a class="option" (click)="logout()" *ngIf="user !== null && user !== undefined" mat-menu-item>Logout</a>
         
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
      <router-outlet></router-outlet>
      <app-footer></app-footer>

       </mat-sidenav-content>
  </mat-sidenav-container>
 <ngx-spinner bdColor = "rgb(0,0,0)" size = "default" color = "#f1a20b" type = "ball-clip-rotate-pulse" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
</div>