<div class="inner-page-banner-area" style="background-image: url('../assets/contact_us.jpg');"> 
  <div class="container">
      <div class="pagination-area">
          
          
      </div>
  </div>  
 
</div>
<div class="skew-c"></div>
<div class="colour-block">
  <div class="container row">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 info-banner col">
    <h2 class="title-default-left title-bar-high ">Information</h2>
    <div class="contact-us-info2">   
        <ul>
            <li>
      <i class="fa fa-map-marker marker" aria-hidden="true"></i>Admin Office<br> 
      Bhagwat Complex, JC Mallick Rd, Besides Subhash Chandra Bose Statue, Hirapur, Dhanbad, Jharkhand </li>
            <li><i class="fa fa-phone marker" aria-hidden="true"></i>+(91) 9031946547
              , +(91) 9852360114</li>
         </ul>
    </div>  
</div>

 
  <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 col">
<form>
  <h2 class="title-default-left title-bar-high ">Contact Us</h2>
  <input placeholder="Name" type="text"  value="" required>
  <input placeholder="Email address" type="email" onblur="this.setAttribute('value', this.value);" value="" required>
  <span class="validation-text">Please enter a valid email address.</span>
  <input placeholder="Location" type="text" value="" required>
  <div class="flex">
    <textarea placeholder="Message" rows="1" required></textarea>
  </div>
  <button (click)="showThanks=true">Send</button>
  <br><br>
  <p class="response" *ngIf="showThanks"><b>Your response Has been Recorded</b></p>
</form>
</div>
</div>
</div>
<!-- <div class="background colour-block">
    <div class="container">
      <div class="screen">
        <div class="screen-header">
          <div class="screen-header-left">
            <div class="screen-header-button close"></div>
            <div class="screen-header-button maximize"></div>
            <div class="screen-header-button minimize"></div>
          </div>
          <div class="screen-header-right">
            <div class="screen-header-ellipsis"></div>
            <div class="screen-header-ellipsis"></div>
            <div class="screen-header-ellipsis"></div>
          </div>
        </div>
        <div class="screen-body">
          <div class="screen-body-item left">
            <div class="app-title">
              <span>CONTACT</span>
              <span>US</span>
            </div>
            <div class="app-contact">CONTACT INFO : +91 903196547/9852360114</div>
          </div>
          <div class="screen-body-item">
            <div class="app-form">
              <div class="app-form-group">
                <input class="app-form-control" placeholder="NAME">
              </div>
              <div class="app-form-group">
                <input class="app-form-control" placeholder="EMAIL">
              </div>
              <div class="app-form-group">
                <input class="app-form-control" placeholder="CONTACT NO">
              </div>
              <div class="app-form-group message">
                <input class="app-form-control" placeholder="MESSAGE">
              </div>
              <div class="app-form-group buttons">
                <button class="app-form-button">CANCEL</button>
                <button class="app-form-button">SEND</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      
     </div>
     </div>  -->