<div [@EnterLeave]="'flyIn'" class="cover">
    <mat-card class="admin-card" layout="row" layout-align="center center">
    <mat-card-header color="primary" class="header">
        <mat-card-title layout="row" style="font-size: larger;" layout-align="center center">Welcome to Focus Admin</mat-card-title>
    
    </mat-card-header>
     <mat-card-content >
        
         
           
          <mat-horizontal-stepper linear #stepper>
            <mat-step [stepControl]="quizDetails" [editable]="isEditable">
              <form [formGroup]="quizDetails">
                <ng-template matStepLabel>Fill out Quiz Details</ng-template>
                <mat-form-field>
                  <mat-label>Quiz Name</mat-label>
                  <input matInput formControlName="quizName" placeholder="Enter Quiz Name Here" required>
                </mat-form-field><br>
                <mat-form-field>
                    <mat-label>Quiz Duration</mat-label>
                    <input matInput formControlName="quizDuration" (keypress)="validate($event)" placeholder="Enter Quiz Duration in minutes" required>
                  </mat-form-field><br>
                  <mat-form-field>
                    <mat-label>Quiz Sections</mat-label>
                    <input matInput formControlName="numSections" (keypress)="validate($event)" placeholder="Enter Number of Sections" required>
                  </mat-form-field> 
                <div>
                     
                    <button mat-button >Print</button>
                  <button mat-button matStepperNext (click)="createVal()">Next</button>
                </div>
              </form>
            </mat-step>
            <mat-step *ngFor="let section of quizSections ;  let i = index"[stepControl]="createQuestions" [editable]="isEditable">
                <form [formGroup]="quizSections[i]">
                    <ng-template matStepLabel>{{section.controls.sectionName.value}}</ng-template>
                  <mat-form-field>
                    <mat-label>Update Section Name</mat-label>
                    <input matInput formControlName="sectionName" placeholder="Ex. Maths , Physics"
                           required>
                  </mat-form-field>
                   
                  <div  *ngFor='let questions of  quiz.sections[i].questions ; let j = index'>
                  <app-question-form [questionId]=j [section]=quiz.sections[i].name (onQuestionSend)="appendQuestion(section.controls.sectionName.value,$event , j)"(onDeleteSelf)="deleteThis(section.controls.sectionName.value,$event)"></app-question-form>  
                   <br><br>
                </div>
                  <div>
                    <button mat-button (click)="addElement(section.controls.sectionName.value)">Add Question</button>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext>Next</button>
                  </div>
                </form>
               
              </mat-step>


             
            <mat-step>
              <ng-template matStepLabel>Done</ng-template>
              <p>You are now done.</p>
              <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button (click)="submit()">Submit</button>
              </div>
            </mat-step>
          </mat-horizontal-stepper>
        
          
          
         
           
        </mat-card-content>    
           
         
    
        </mat-card>
    </div>