 
  <div class="skew-c"></div> 
   <div class="colour-block">
  <main class="main">
    <div class="main-overview">
      
      <div class="overviewcard">
        <div class="overviewcard__icon">My Score %</div>
        <div class="overviewcard__info">{{quizResult.percentageScore | number : '1.2-2'}}</div>
      </div>
      <div class="overviewcard">
        <div class="overviewcard__icon">Accuracy %</div>
        <div class="overviewcard__info">{{quizResult.accuracy | number : '1.2-2'}}</div>
      </div>
      
    </div>
    
        
      <div class="container">
        <ul class="nav nav-tabs tabs">
          <li class="nav-item">
            <a class="nav-link" (click)="changeChart('overall')">Overall Performance</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="changeChart('subjectWise')">Subject Performance</a>
          </li>
           
        </ul>
         
      </div>
       
       <div class="colour-block" [@inOutAnimation]="'flyIn'" *ngIf="chartSelected==='overall'">  
        <table class="table table-responsive">
          <thead>
            <tr style="background:green ; color:white">
              <th>Total Score</th>
              <th>Percentage Score</th>
              <th>Accuracy Percentage</th>
              <th>Positive Marks Scored</th>
              <th>Negative Marks Scored</th>
              <th>Total Time Taken (minutes)</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{quizResult.myTotalScore}}</td>
              <td>{{quizResult.percentageScore | number : '1.2-2'}}</td>
              <td>{{quizResult.accuracy | number : '1.2-2'}}</td>
              <td>{{quizResult.positiveMarks}}</td>
              <td>{{quizResult.negativeMarks}}</td>
              <td>{{quizResult.timeTaken}}</td>
            </tr>
            
          </tbody>
        </table>
        <br>
        <table class="table table-responsive">
          <thead>
          <tr style="background:green ; color:white">
            <th>Total Attempted</th>
            <th>Correct Attempts</th>
            <th>Wrong Attempts</th>
            <th>Unattempted</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{quizResult.attemptedCount}}</td>
            <td>{{quizResult.correctAttempt}}</td>
            <td>{{quizResult.wrongAttempt}}</td>
            <td>{{quizResult.unattemptedCount}}</td>
          </tr>
        </tbody>
        </table>
      </div>
      <div style="border-radius: 2vw;"class="colour-block" [@inOutAnimation]="'flyIn'" *ngIf="chartSelected=='subjectWise'">
        <table class="table table-responsive">
          <thead>
            <tr>
              <th style="background:green ; color:white">Parameter Name</th>
              <th style="background:green ; color:white" *ngFor="let section of quizResult.sections">{{section.sectionName}}</th>
            </tr>
           
          </thead>
          <tbody>
             
            <tr>
              <td><b>Percentage Score</b></td>
              <td *ngFor="let section of quizResult.sections">{{section.percentageScore | number : '1.2-2'}}</td>
            </tr>
            <tr>
              <td><b>Accuracy Score</b></td>
              <td *ngFor="let section of quizResult.sections">{{section.accuracy | number : '1.2-2'}}</td>
            </tr>
            <tr>
              <td><b>Time Taken Sectionwise (min)</b></td>
              <td *ngFor="let section of quizResult.sections">{{section.timeSpent}}</td>
            </tr>
            <tr>
              <td><b>Sectionwise Marks Scored</b></td>
              <td *ngFor="let section of quizResult.sections">{{section.marksScored}}</td>
            </tr>
            <tr>
              <td><b>Sectionwise Correct Attempts</b></td>
              <td *ngFor="let section of quizResult.sections">{{section.correctAttempt}}</td>
            </tr>
            <tr>
              <td><b>Sectionwise Wrong Attempts</b></td>
              <td *ngFor="let section of quizResult.sections">{{section.wrongAttempt}}</td>
            </tr>
            <tr>
              <td><b>Sectionwise Unattempted</b></td>
              <td *ngFor="let section of quizResult.sections">{{section.unattemptedCount}}</td>
            </tr>
          </tbody>
        </table>
      </div>
       
  </main>
</div>