/* .cover{
    top:50%; width:100%; text-align:center; position:fixed;  
} */

/* .login-card{
margin: 0 auto;
display: inline-block;
} */
.login-card{
     
    display: flex;
    justify-content: center;
    align-items: center;
  }

  :host {
    display: flex;
    justify-content: center;
    margin: 100px 0px;
  }

  .mat-form-field {
    width: 100%;
    min-width: 300px;
  }

  mat-card-title,
  mat-card-content {
    display: flex;
    justify-content: center;
  }

  .error {
    padding: 16px;
    width: 300px;
    color: white;
    background-color: red;
  }

  .button {
    display: flex;
    justify-content: flex-end;
  }

  @media only screen and (max-width: 760px) { 
     .skew-c{
       display: none;
     }
     .mat-card{
      width: 150%;
      margin-left: -16vw;
     }
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) { 
    
  
  }
  