 
 <footer>
  <div class="footer-area-top">
      <div class="container">
          <div style="margin-left: 12vw;" class="row">
              <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                  <div class="footer-box">
                      <a [routerLink]="'/'"><img class="img-responsive" src="../assets/focusLogo.PNG" alt="logo"></a>
                      <div class="footer-about">
                          <p>Focus Classes is a team of IIT-ians and professionals, a passionate team of with proven years of excellence and success</p>
                      </div>
                      <ul class="footer-social"> <li><a href="https://www.facebook.com/focus.dhanbad/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                          <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                          <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                          <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                          <li><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                          <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>

                      </ul>
                  </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                  <div class="footer-box">
                      <h3>Featured Links</h3>
                      <ul class="featured-links"> <li>
                              <ul>
                                  <li><a  >About Us</a></li>
                              </ul>
                          </li>
                          <li> 
                            <ul>
                                  <li><a  >FTSE</a></li>
                               </ul>
                          </li>
                      </ul>                             
                  </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                  <div class="footer-box">
                      <h3>Contact Information</h3>
                      <ul class="corporate-address">            
                          <li><i class="fa fa-phone" aria-hidden="true"></i><a class="number" href="#"> 9031946547 </a></li>
                       </ul></div>
              </div>              
          </div>
      </div>
  </div>
  <div class="footer-area-bottom">
      <div class="container">
          <div style="margin-left: 12vw;" class="row">
              <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                  <p>Copyright © 2020 Focus Classes Pvt. Ltd. All Rights Reserved. &nbsp; Website Powered by : Firebase </p>
              </div>
              
          </div>
      </div>
  </div>
</footer>